extends layout

block content
    .registration-form-section
        form
            .section-title.reg-header.animated.fadeInDown.row
                h3.text-center What's this all about, Alfie?
                h5 
                hr
                .clearfix
                p some text here
                hr
                p some more text here
                hr
                .clearfix
                a.btn.btn-success.pull-left.blue-btn(href='/')
                    i.icon-chevron-left 
                    &nbsp; &nbsp; Back
