extends layout

block content
    .registration-form-section
        form
            .section-title.reg-header.animated.fadeInDown.row
                h1.blue.text-center Welcome to the Code Camp 2014 Project Showcase
                h5 We want Christchurch coders to try new things and push the scene forward. Join one of the exciting projects below or make a new one yourself. 
                hr
                .clearfix
                    a.btn.btn-success.blue-btn.pull-left.small-font.offset-top-sm(href='/about')
                        i.icon-info
                        |&nbsp; &nbsp; I'm going to need some more info buddy
                    a.btn.btn-success.blue-btn.pull-right.small-font.offset-top-sm(href='/prizes')
                        |Show me the prizes! &nbsp; 
                        i.icon-trophy
                hr
                .offset-top.clearfix
                    p.pull-left
                        i.icon-chevron-down
                        |&nbsp; &nbsp; Take a look at some of the projects below
                    a.btn.btn-success.pull-right.green-btn(href='/newproject')
                        |Or add your project &nbsp; 
                        i.icon-github
            div(ng-controller="SidecaseCtrl")
                .login-form-links.link1.animated.fadeInUp.row(ng-repeat="project in projects")
                    .col-sm-6.col-xs-12
                        .row
                            .col-xs-6(ng-repeat="collaborator in project.collaborators")
                                a(href='{{collaborator.url}}')
                                    img.max-image(src='{{collaborator.avatar}}')
                                |{{collaborator.name}}
                    .col-sm-6.col-xs-12
                        a.blue(href='{{project.url}}')
                            |{{project.name}}
                        p {{project.mainlang}}
                        p {{project.description}}
                        span(ng-hide='project.collaborators.length < 1 || !project.teamsize || project.collaborators.length >= project.teamsize') {{project.collaborators.length}} / {{project.teamsize}} team members &nbsp; &nbsp; 
                        span(ng-hide='project.teamsize && project.collaborators.length >= project.teamsize')
                            a(href='mailto:{{project.email}}') join this team ({{project.email}})
block scriptshead
  script(src='/js/home.js')
