extends layout

block content
    .registration-form-section
        form
            .section-title.reg-header.animated.fadeInDown
                h3 Welcome to the Code Camp 2014 Side Projectathon
            .registration-form-action.clearfix.animated.fadeInUp
                p.pull-left
                    i.icon-chevron-down
                    &nbsp; &nbsp; Take a look at some of the projects 
                    strong
                        |or......
                button.btn.btn-success.pull-right.green-btn(type='submit')
                    |Add your project &nbsp; 
                    i.icon-github
            .clearfix
               .col-sm-12.registration-left-section.animated.fadeInUp
                    .reg-content
                      div(ng-controller="SidecaseCtrl")
                        ul
                          li(ng-repeat="project in projects")
                            span {{project.name}}
            



block scripts
  script(src='/js/home.js')
