extends layout

block content
    .registration-form-section
        form(action='/project/save', method='POST')
            .section-title.reg-header.animated.fadeInDown
                h3.text-center Add a project
                p Projects need to be hosted on Github(we use the api to get a bunch of info). It's free to sign up for and lets you manage your teams easily. 
                strong Please make sure your url is in the format https://github.com/{owner}/{repo} or else it won't display correctly on the list of projects. E.g. https://github.com/jladuval/sidecase is the url for this website's repository.
            .clearfix
               .col-sm-12.registration-left-section.animated.fadeInUp
                    .reg-content
                        .textbox-wrap
                            .input-group
                                span.input-group-addon
                                    i.icon-github-alt.icon-color
                                input.form-control(placeholder='Github project url', type='url', name='url')                        
                        .textbox-wrap
                            .input-group
                                span.input-group-addon 
                                    i.icon-envelope.icon-color
                                input.form-control(placeholder='Your email',type='email', name='email')
                        .textbox-wrap
                            .input-group
                                span.input-group-addon 
                                    i.icon-group.icon-color
                                input.form-control(placeholder='Team size (leave blank if you dont care)',type='number', name='teamsize')   
            .registration-form-action.clearfix.animated.fadeInUp
                a.btn.btn-success.pull-left.blue-btn(href='/')
                    i.icon-chevron-left 
                    &nbsp; &nbsp; Back
                button.btn.btn-success.pull-right.green-btn(type='submit')
                    |Save &nbsp; 
                    i.icon-save

  div(ng-controller="SidecaseCtrl")
    ul
      li(ng-repeat="project in projects")
        span {{project.name}}

block scripts
  script(src='/js/home.js')
