extends layout

block content
    .registration-form-section
        form
            .section-title.reg-header.animated.fadeInDown.row
                h3.text-center What's in it for me?
                h5 Because learning new things just isn't quite enough for some of you.
                hr
                .clearfix
                h5 Most innovative use of new technology
                p Given to a team that has used new technology in a unique way
                hr
                h5 'Wow I cannot believe you managed to do that' prize for stepping out of your comfort zone
                p Given to a team who has tried something completely crazy 
                hr
                h5 Most popular
                p Decided by a straw poll on the night
                hr
                h4 More to come!
                hr
                a.btn.btn-success.pull-left.blue-btn(href='/')
                    i.icon-chevron-left 
                    &nbsp; &nbsp; Back
