extends layout

block content
    .registration-form-section
        form
            .section-title.reg-header.animated.fadeInDown.row
                h3.text-center What's in it for me?
                h5 Because learning new things just isn't quite enough for some of you.
                hr
                .clearfix
                p some text here
                hr
                p some more text here
                hr
                a.btn.btn-success.pull-left.blue-btn(href='/')
                    i.icon-chevron-left 
                    &nbsp; &nbsp; Back
